.rect {
  text-align: center;
  font-size: 30px;
  padding-top: 10px;
  height: 100%;

  button {
    width: 400px;
    margin-top: 15px;
  }

  h5 {
    margin-top: 0px;
  }
}

.demo-light {
  background: rgba(245, 229, 166, 0.5);
}

.demo-dark {
  background: rgba(148, 215, 199, 0.5);
}