.recbtn1{

    width: 200px;
    margin-top: 15px;
    margin-left: 15px;
    padding-left: 5px;
    margin-right: 15px;
    padding-right: 5px;
    font-weight: 600;

}

.recbtn2{

    width: 200px;
    margin-top: 15px;
    margin-left: 15px;
    padding-left: 5px;
    margin-right: 15px;
    padding-right: 5px;
    font-weight: 600;
    
}

.recbtn3{

    width: 200px;
    margin-top: 15px;
    margin-left: 15px;
    padding-left: 5px;
    margin-right: 15px;
    padding-right: 5px;
    font-weight: 600;
}

